*{
    padding: 0;
    margin: 0;
}


.nav-background{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #ddd;
    position: sticky;  
    top: 0;           
    z-index: 1000;     
    height: 80px;      

}

.nav-container{
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    font-family: sans-serif;
    margin: 0 auto;
    height:80px;
    
}

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.nav-logo{
    text-decoration: none;
    color: #444;
    padding: 15px;
}

.nav-logo:hover{
    color: #666;
}

.nav-ul{
    display: flex;
    align-items: center;
    max-width: 800px;
    justify-content: space-between;
    padding-top: 15px;
}

.nav-ul > li {
    display: flex;
}

.nav-list{
    flex: 1;
    text-decoration: none;
    color: #444;
    font-weight: 600;
    font-size: 1.2rem;
    transition: all 200ms linear;
    padding: 1rem;
    font-size: 15px;
}

.nav-list:hover{
    background-color: #dad5d5;
}
